@charset "UTF-8";
$bodyBg: #e5ebeb;
$titleColor: #02c9ac;
$textareaBg: #e5ebeb;
$timelineColor: #5cddca;
$borderColor: #dee2e1;
$textColor: #535353;
$descColor: #9d9d9d;
$textSize: 16px;
$placeholder: #c2c2c2;
@mixin transition($property,$during){
  @if $property == transform{
    -webkit-transition: -webkit-transform $during;
    -moz-transition: -moz-transform $during;
    -ms-transition: -ms-transform $during;
    transition: transform $during;
  }@else{
    -webkit-transition: $property $during;
    -moz-transition: $property $during;
    -ms-transition: $property $during;
    transition: $property $during;
  }
}
@mixin transform($property){
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}
.resume-content{
  background-color: $bodyBg;
  .resume-score{
    position: absolute;
    left: 90px;
    top: 18px;
  }
  .card{
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.3) ;
    box-shadow: 0 0 1px rgba(0,0,0,.3);
    .item{
      &.item-title{
        margin: 0 4%;
        padding: 0;
        height: 46px;
        border-bottom: 1px dashed $borderColor;
        .define-title{
          float: left;
          height: 46px;
          line-height: 46px;
          color: $titleColor;
          font-size: 18px;
        }
        .icon-large{
          font-size: 18px;
          vertical-align: middle;
        }
        .handle-btn{
          display: block;
          float: right;
          height: 46px;
          line-height: 46px;
          font-size: 16px;
          text-decoration: none;
        }
      }
    }
    .resume-contact{
      border-top: 1px dashed $borderColor;
    }
    &.basic-info-list{
      .item:nth-child(2){
        border: none;
      }
      .item-input{
        .icon{
          position: absolute;
          right: 10px;
          top: 13px;
          font-size: 20px;
        }
      }
      .item-gender{
        .gender-switch{
          & > span{
            padding: 0 3px;
            display: inline-block;
          }
          position: absolute;
          right: 30px;
          top: 7px;
          height: 34px;
          line-height: 34px;
        }
      }
    }
    &.resume-text{
      color: $textColor;
      font-size: $textSize;
      .res-exp-info-content{
        position: relative;
        &::before{
          content: "";
          position: absolute;
          top: 24px;
          left: 24px;
          bottom: 14px;
          border-left: 1px dashed $timelineColor;
        }
      }
      .res-basic-lable{
        min-width: 70px;
      }
      .resume-photo{
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
      .no-exp-desc{
        height: 40px;
        min-height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        color: $placeholder;
      }
      .resume-exp-info{
        .resume-exp-item{
          min-height: 30px;
          line-height: 30px;
          margin:0 4%;
          &.no-icon{
            padding-left: 24px;
          }
          &.res-exp-desc{
            color: $descColor;
          }
          .resume-info-sub-add{
            margin-left: 2px;
          }
          .exp-btn-add{
            padding: 0;
          }
          .exp-item-btn{
            float: right;
            height: 30px;
            line-height: 30px;
          }
        }
      }
    }
    .exp-content-more{
      margin-top: -20px;
      width: 80px;
      left: 50%;
      margin-left: -40px;
    }
  }
  .resume-cut-line{
    margin-top: 30px;
    .cut-line{
      border-bottom: 1px dashed;
    }
    .cut-desc{
      margin-top: -12px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      span{
        display: inline-block;
        padding: 0 10px;
        background-color: $bodyBg;
      }
    }
  }
}
.icons-resume{
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url("../img/icons_resume.png") no-repeat;
  background-size: 60px 60px;
  vertical-align: middle;
}
.icons-resume.resume-info-edit{
  background-position: 0 -20px;
}
.icons-resume.resume-info-add{
  background-position: -20px -20px;
}
.icons-resume.resume-info-sub-add{
  background-position: 0 -40px;
}
.icons-resume.resume-info-location{
  background-position: 0 0;
}
.icons-resume.resume-info-degree{
  background-position: -20px 0;
}
.icons-resume.resume-info-exp{
  background-position: -40px 0;
}
.icons-resume.resume-info-desc{
  background-position: -20px -40px;
}
.icons-resume.resume-info-down{
  background-position: -40px -40px;
  @include transition(transform,.2s);
  &.icons-resume-rotate{
    @include  transform(#{"rotate3d(0,0,1,180deg)"});
  }
}
.icons-resume.resume-info-notice{
  background-position: -40px -20px;
}
.resume-info-list{
  padding: 0 2%;
  &.language-list{
    .item-icon-right{
      .icon{
        font-size: 18px;
      }
    }
  }
  &.basic-info-list{
    .resume-photo > img{
      width: 80px;
      height: 80px;
      margin: 10px;
      & + p {
        margin: 10px;
        color: $placeholder;
      }
    }
    .item-input{
      & > input{
        color: #777;
      }
    }
  }
  .resume-info-text-desc{
    width: 95%;
    height: 150px;
    margin-top: 10px;
    padding: 5px;
    background-color: $textareaBg;
    resize: none;
  }
  .item{
    border-style: dashed;
  }
  .item-input{
    input[readonly]{
      background-color: transparent;
    }
    &.item-stacked-label{
      border: none;
    }
    input{
      text-align: right;
    }
  }
  .delete-notice{
    text-align: center;
    & > span{
      cursor: pointer;
    }
  }
}
@media screen and (min-height: 450px) {
  .resume-info-list{
    min-height: 400px;
  }
}
@media screen and (min-height: 550px) {
  .resume-info-list{
    min-height: 480px;
  }
}
@media screen and (min-height: 600px) {
  .resume-info-list{
    min-height: 550px;
  }
}
@media screen and (min-height: 700px) {
  .resume-info-list{
    min-height: 600px;
  }
}
