<ion-view view-title="教育经历">
  <ion-content class="resume-content">
    <div class="card education-list resume-info-list">
      <form autocomplete="off" name="resEduForm">
        <ion-input class="item item-input">
          <ion-label>学校名称</ion-label>
          <input type="text" placeholder="必填" required ng-model="eduData.schoolName">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>专业</ion-label>
          <input type="text" placeholder="必填" required ng-model="eduData.major">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>学历</ion-label>
          <input type="text" placeholder="必选" required ng-model="eduData.degree">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>入学时间</ion-label>
          <!--<input type="text" placeholder="必选" required ng-model="eduData.start">-->
          <ionic-multiple-select control-title="请选择入学时间" placeholder="请选择" control-tag="年" control-handle="studyStartHandle" control-model-data="eduData.start" control-init-data="{{eduData.start}}" control-data-source="datePickObj"></ionic-multiple-select>
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>毕业时间</ion-label>
          <!--<input type="text" placeholder="必选" required ng-model="eduData.end">-->
          <ionic-multiple-select control-title="请选择毕业时间" placeholder="请选择" control-tag="年" control-handle="studyEndHandle" control-model-data="eduData.end" control-init-data="{{eduData.end}}" control-data-source="datePickObj"></ionic-multiple-select>
        </ion-input>
        <ion-input class="item item-input item-stacked-label">
          <ion-label>在校经历</ion-label>
          <textarea class="school-desc resume-info-text-desc" placeholder="描述您的在校经历和所获得的个人成绩400字以内" maxlength="400" required ng-model="eduData.status"></textarea>
        </ion-input>
        <div class="padding row">
          <div class="col col-80 col-offset-10">
            <button type="submit" class="button button-block button-balanced" ng-disabled="!resEduForm.$valid" ng-click="updateEdu()">保存</button>
            <p class="delete-notice" ng-show="deleteInfo" ng-click="deleteInfo()"><span class="balanced">删除此条教育经历</span></p>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
