<ion-view view-title="项目经历">
  <ion-content class="resume-content">
    <div class="card job-exp-list resume-info-list">
      <form autocomplete="off">
        <ion-input class="item item-input">
          <ion-label>期望职能</ion-label>
          <input type="text" placeholder="必选" required ng-model="positionExpData.targetJobTypes[0]">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>期望职位</ion-label>
          <input type="text" placeholder="必填" required ng-model="positionExpData.targetPosition[0]">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>期望地点</ion-label>
          <input type="text" placeholder="必选" required ng-model="positionExpData.targetWorkLocation">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>期望月薪</ion-label>
          <input type="text" placeholder="必选" required ng-model="positionExpData.targetSalary">
        </ion-input>
         <div class="padding row">
          <div class="col col-80 col-offset-10">
            <button type="submit" class="button button-block button-balanced" ng-click="updatePositionExp()">保存</button>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
