<ion-view view-title="项目经历">
  <ion-content class="resume-content">
    <div class="card project-exp-list resume-info-list">
      <form  novalidate autocomplete="off" ng-submit="updateEdu()">
        <ion-input class="item item-input">
          <ion-label>项目名称</ion-label>
          <input type="text" placeholder="请填写项目名称" required ng-model="projectData.projectName">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>项目职务</ion-label>
          <input type="text" placeholder="请填写所担任的职务" required ng-model="projectData.responsibility">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>所在公司</ion-label>
          <input type="text" placeholder="请填写所属公司名称" required  ng-model="projectData.companyName">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>开始时间</ion-label>
          <input type="date" placeholder="必选" required ng-model="projectData.start">
        </ion-input>
        <ion-input class="item item-input">
          <ion-label>结束时间</ion-label>
          <input type="text" placeholder="必选" required ng-model="projectData.end">
        </ion-input>
        <ion-iput class="item item-input item-stacked-label">
          <ion-label>项目说明</ion-label>
          <textarea class="project-desc resume-info-text-desc" placeholder="描述项目内容,工作内容" maxlength="400" required ng-model="projectData.projectDescription"></textarea>
        </ion-iput>
         <div class="padding row">
          <div class="col col-80 col-offset-10">
            <button type="submit" class="button button-block button-balanced" ng-click="updateProject()">保存</button>
            <p class="delete-notice" ng-show="deleteInfo"><span class="balanced" ng-click="deleteInfo()">删除此条教育经历</span></p>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
