<ion-view view-title="基本信息">
  <ion-content class="resume-content">
    <div class="main-content">
      <div class="list card resume-info">
        <div class="item item-image header-pic-content">
          <img ng-src="{{basicData.avatarUrl}}" width="162" height="162" alt="photo">
          <div class="text-content">我的头像</div>
        </div>
        <div class="item row">
          <div class="col-40"><span>姓名</span></div>
          <div class="col-50 col-offset-10 balanced">
            <input type="text" class="balanced" ng-model="basicData.name" placeholder="必填">
          </div>
        </div>
        <div class="item row">
          <div class="col-40">性别</div>
          <div class="col-50 col-offset-10">
            <span class="icon-left ion-android-radio-button-off"> 男</span>&nbsp;
            <span class="icon-left ion-android-radio-button-off balanced"> 女</span>
          </div>
        </div>
        <div class="item row">
          <div class="col-40">出生年月</div>
          <div class="col-50 col-offset-10 item-icon-right">
            <input type="text" placeholder="请选择" ng-model="basicData.dob">
          </div>
        </div>
        <div class="item row item-select item-input">
          <div class="col-40">工作年限</div>
          <div class="col-50 col-offset-10 item-icon-right">
            <select>
              <option>在读学生</option>
              <option>应届毕业生</option>
              <option>1年以下</option>
              <option>1-3年</option>
              <option>3-5年</option>
              <option>5-10年</option>
              <option>10年以上</option>
            </select>
          </div>
        </div>
        <div class="item row">
          <div class="col-40">所在城市</div>
          <div class="col-50 col-offset-10 item-icon-right">
            <!--<ionic-city-picker placeholder="必选" tag="-" backdrop=true backdrop-click-to-close=false  bar-css-class="bar-balanced" ok-text="确定" citydata="citydata"  button-clicked="vm.cb()"></ionic-city-picker>-->
          </div>
        </div>
        <div class="item row">
          <div class="col-40">电子邮箱</div>
          <div class="col-50 col-offset-10">
            <input type="email" placeholder="必填" ng-model="basicData.email">
          </div>
        </div>
        <div class="item row">
          <div class="col-40">手机号码</div>
          <div class="col-50 col-offset-10">
            <input type="tel" placeholder="必填" ng-model="basicData.tel">
          </div>
        </div>
        <div class="item row">
          <div class="col col-80 col-offset-10">
            <button class="button button-block button-balanced" ng-click="updateBasic()">保存</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

