<ion-view view-title="基本信息">
  <ion-content class="resume-content">
    <div class="card basic-info-list resume-info-list">
      <form name="resBasicForm" autocomplete="off">
        <div class="item item-image resume-photo">
          <img ng-src="{{ basicData.avatarUrl }}" width="80" height="80">
          <p>我的头像</p>
        </div>
        <div class="item item-input">
          <ion-label>姓名</ion-label>
          <input type="text" ng-model="basicData.name" placeholder="必填" required>
        </div>
        <div class="item item-input item-gender">
          <ion-label>性别</ion-label>
          <div class="gender-switch">
            <span class="icon-left ion-android-radio-button-off" ng-class="{balanced: basicData.gender=='男'}" ng-click="switchGender('男')">男</span>
            <span class="icon-left ion-android-radio-button-off" ng-class="{balanced: basicData.gender=='女'}" ng-click="switchGender('女')">女</span>
          </div>
        </div>
        <div class="item item-input">
          <ion-label>出生年月</ion-label>
          <input type="text" ng-model="basicData.dob" placeholder="必选" required>
          <i class="icon ion-ios-arrow-right balanced" ng-show="!basicData.dob"></i>
        </div>
        <div class="item item-input">
          <ion-label>工作年限</ion-label>
          <input type="text" ng-model="basicData.workingExp" ng-click="openModal()" placeholder="必选" required readonly>
          <i class="icon ion-ios-arrow-right balanced" ng-show="!basicData.workingExp"></i>
        </div>
        <div class="item item-input">
          <ion-label>所在城市</ion-label>
          <input type="text" ng-model="basicData.location" placeholder="必选" required>
          <i class="icon ion-ios-arrow-right balanced" ng-show="!basicData.location"></i>
        </div>
        <div class="item item-input">
          <ion-label>电子邮箱</ion-label>
          <input type="email" ng-model="basicData.email" placeholder="必填" required>
        </div>
        <div class="item item-input">
          <ion-label>电话号码</ion-label>
          <input type="tel" ng-model="basicData.tel" placeholder="必填" required>
        </div>
        <div class="padding row">
          <div class="col col-80 col-offset-10">
            <button class="button button-block button-balanced" ng-disabled="!resBasicForm.$valid" ng-click="updateBasic()">保存</button>
          </div>
        </div>
      </form>
      <ionic-city-picker placeholder="出发城市" tag="-" backdrop=true backdrop-click-to-close=false css-class="xxx" ok-text="确定" citydata="citydata"  button-clicked="vm.cb()" ></ionic-city-picker>
    </div>
  </ion-content>
</ion-view>
<script id="my-modal.html" type="text/ng-template">
  <div class="emulate-select-control">
    <ion-modal-view>
      <div class="emulate-select-bg"></div>
      <div class="emulate-select-content">
        <ion-header-bar class="bar-balanced">
          <h3 class="title">请选择工作年限</h3>
          <button class="button button-balanced" ng-click="selectOk()">确认</button>
        </ion-header-bar>
        <div class="emulate-select-inner has-header">
          <ion-scroll class="e-s-scroll-box" delegate-handle="workExpHandle" on-scroll="selectObj.getData()">
            <ul class="e-select-list text-center">
              <li class="e-select-item" ng-repeat="work in workExpArr">{{work}}</li>
            </ul>
          </ion-scroll>
          <div class="select-picker-center-highlight"></div>
        </div>
      </div>
    </ion-modal-view>
  </div>
</script>
